/*Strat navbar*/
.navbar{
    background-color: rgb(17, 0, 79);
    padding: 10px 0px;
}
.nav-item{
    padding: 0px 20px;
}

.nav-item:hover .nav-link{
    color:#ff9041;;
}
.navbar-brand{
    font-size: 30px;
}

.navbar-brand i {
    color:#ff9041;;
    font-weight: 700 !important;
    font-size: 30px;
}
/* End navbar* /

/* Start Slider*/
.bg1{
    background: linear-gradient(rgba(17, 0, 79,0.5), rgba(44, 43, 49, 0.5) ), url("images/slider/image-1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(90vh);
    position: relative;
}

.bg2{
    background: linear-gradient(rgba(17, 0, 79,0.5), rgba(17, 0, 79, 0.5) ),url("images/slider/image-2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(90vh);
    position: relative;
}

.bg3{
    background: linear-gradient(rgba(17, 0, 79,0.5), rgba(17, 0, 79, 0.5) ),url("images/slider/image-3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(90vh);
    position: relative;
}
.bg4{
    background: linear-gradient(rgba(17, 0, 79,0.5), rgba(17, 0, 79, 0.5) ), url("images/slider/image-4.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(90vh);
    position: relative;
}
.mycaption{
color: #fff;
position: relative;
text-align: center;
width: 40%;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
padding: 50px;
}

@media only screen and (max-width: 720px){
    .mycaption{
    width: 80%;
    }
}

.mycaption h1{
    text-align: center;
}
.mycaption p{
    font-weight: 300;
    text-align: center;
}
.readmore_slider{
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
}
.readmore_slider:hover{
background-color: #fff;
color: rgba(17, 0, 79,0.5);
}
/* End Slider */

/* About */

section {
    padding: 50px 0px;
} 

.mainheading {
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    display: block;
}

.mainheading::before{
    content: "";
    width: 100px;
    background-color: #ff9041;
    height: 2px;
    margin: 14px;
    display: inline-block;
}  
.mainheading::after{
    content: "";
    width: 100px;
    background-color: #ff9041;
    height: 2px;
    margin: 14px;
    display: inline-block;
}  
.subheading{
    text-align: center;
    display: block;
}
.about p li{
line-height: 30px;
}

.about ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.about i {
    padding-right: 10px;
    color: #ff9041;
    font-size: 20px;
}

.aboutlearnmore{
    color: #ff9041;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #ff9041;
    display: inline-block;
    margin-top: 20px;
}

.aboutlearnmore:hover{
    color: #fff; 
    background-color: #ff9041;
    transition: 0.5s;

}

.mycard {
    padding: 20px;
    box-shadow: 0px 0px 30px #cecece;
    text-align: center;
    margin-top: 40px;
}

.mycard i {
    font-size: 40px;
}
.counter{
    font-size: 40px;
    font-weight: 900;
}

.mycard a{
    text-decoration: none;
    color: #ff9041;
}

.mycard a:hover{
     letter-spacing: 1px;
     transition: 0.5s;

}

.cardtitle {
    font-size: 30px;
    font-weight: 300;
    color: #c1c1c1;
}
/* End About* /

/* Help */

.help{
    background-color: #11004f;
    color: #fff;
    text-align: center;
}
.help p{
    letter-spacing: 1px;
    font-weight: 100;
}
.help-phone{
    font-size: 30px;
}
.help-phone i{
    color: #ff9041;
}
/* End Help */

/* Services*/
.service-card{
    padding: 20px;
    border: 1px solid #cecece;
    border-radius: 10px;
    text-align: center;
    margin-top: 30px;
}
.service-card i{
    color: #ff9041;
}
.service-card a{
    text-decoration: none;
    color: #ff9041;
}

.service-card a:hover{
    color: #ff9041;
    letter-spacing: 1px;
    transition: 0.5s;
}


/* End Services*/

/* Team*/
.teamcard{
    padding: 20px;  
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    margin-top: 40px;
}
.teamcard:hover{
box-shadow: 0px 0px 30px #cecece;
}

.team{
    background-color: #f8f9fa;
}
.teamcard img{
    border-radius: 5px;
}
.teamcard h3{
    margin-top: 10px;

}
.teamcard p{
    color: #767676;

}
.teamcard i{
    padding: 10px;
    font-size: 20px;
    color: #11004f;
}
.teamcard i:hover{
    color: #ff9041;
    cursor: pointer;
}
.teamcard a{
    color: #3333;
}
/*End Team*/ 

/* Accordian FAQs*/
.accordion-button{
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #767676; 
}
.accordion-item{
    margin-top: 20px;
}
.faq p {
    line-height: 30px;
    text-align: justify;
}

/*End Accordian FAQs*/

/* Start Gallery */
.gallery{
    background-color: #f8f9fa;
}
.tab-content{
    background-color: #fff;
    padding: 50px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: #11004f;
    color: #fff;
}
.nav-tabs .nav-link{
color: #333333;
}
.nav-tabs img{
margin-top: 50px;
}
/* End Gallry */